{% include 'Components/adminhead.html.twig' %}
{% include 'Components/adminheader.html.twig' %}
	<main class="text-center mt-14 text-white">
		<p class="text-3xl font-bold">Bienvenue dans votre panel administrateur !</p>
		<p class="text-xl">Pour modifier le contenu du site,<br> utilisez les boutons ci dessus !</p>
		<br>
		<img src="{{ asset('img/cooker.png') }}">
	</main>