{% include 'Components/adminhead.html.twig' %}
{% include 'Components/adminheader.html.twig' %}
{% block body %}
    <main class="flex justify-center items-center flex-col mt-10">
        {{ form_start(form) }}
            <p class="block text-white font-bold mb-2 text-2xl" for="entree1">Définir le maximum de table</p>
    		{{ form_widget(form.places) }}
			<button type="submit" method="post" class="w-20 rounded-md bg-green-700 hover:bg-green-500 text-white p-1 transition-all ease-in font-bold">
				Envoyer
			</button>
    	{{ form_end(form) }}
    </main>
{% endblock %}