<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
		<!--Patch error 404 favicon not found-->
		<link rel="shortcut icon" href="#">
		<script src="https://kit.fontawesome.com/abab09da6b.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<!--"npm run watch"-->
	<body class="admin-background min-h-screen">
		<header class="bg-brown lg:w-52 xs:w-auto lg:h-full xs:h-36 lg:text-xl xs:text-lg">
		  	<nav class="grid lg:grid-cols-1 xs:grid-cols-2 grid-rows-1 text-center">
		  	  	<a href="#" class="text-white lg:my-2 xs:my-1 bg-light-brown hover:bg-yellow-600 mx-2 rounded-full">Modifier galerie</a>
		  	  	<a href="#" class="text-white lg:my-2 xs:my-1 bg-light-brown hover:bg-yellow-600 mx-2 rounded-full">Modifier carte</a>
		  	  	<a href="#" class="text-white lg:my-2 xs:my-1 bg-light-brown-active hover:bg-yellow-600 mx-2 rounded-full">Modifier horaires</a>
				<a href="#" class="text-white lg:my-2 xs:my-1 bg-light-brown hover:bg-yellow-600 mx-2 rounded-full">Voir réservations</a>
				<a href="#" class="text-white lg:mt-6 xs:mt-10 rounded-full bg-red-400 hover:bg-red-500 mx-2">Déconnection</a>
		  	</nav>
		</header>
		<main>

		</main>
	</body>
</html>
