{% include 'Components/adminhead.html.twig' %}
{% include 'Components/adminheader.html.twig' %}

<body class="admin-background min-h-screen">
{% block body %}
	<p class="text-center text-2xl text-white font-bold mt-5">Que souhaitez-vous faire ?</p>
    <main class="stylisedPolice m-5 lg:mx-52 xs:mx-5 bg-connection p-10 text-center bg-dark">
		<a href="{{ path('admin_galeryView')}}" class="w-40 m-3 rounded-md bg-orange-400 hover:bg-orange-600 p-2 text-white transition-all ease-in font-bold">
	    	<i class="fa-solid fa-eye"></i> Voir les images publiée(s)
	    </a>
        <a href="{{ path('admin_imageAdder')}}" class="w-40 m-3 rounded-md bg-green-600 hover:bg-green-700 p-2 text-white transition-all ease-in font-bold">
	    	<i class="fa-solid fa-image"></i> Ajouter une image
	    </a>
    </main>
{% endblock %}
</body>