/*TAILWIND CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.stylisedPolice {
    font-family: 'Roboto Slab', serif;
}

.text-md {
    font-size: 1.0rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}

.bg-brown {
    background-color: #392C1E;
}

.delete-all {
    @apply hover:bg-red-400 transition-all ease-in hover:animate-pulse;
    color: white;
    font-weight: bold;
    padding: 0.4rem;
    background-color: red;
    border-radius: 7px;
}

.bg-light-brown {
    background-color: #906427;
}

.bg-light-brown-active {
    background-color: #d4a460;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.hr-modifier {
    color: #906427;
    height: 3px;
    border: none;
}

.admin-background {
    background-color: #ad9696;
}

.nav-button {
    @apply w-32 py-2 rounded-md hover:bg-yellow-900 !important;
}

.thumbnail {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 5%;
}
  
.thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-container {
    @apply flex mb-5 flex-col items-center;
    margin-bottom: 20px;
}

.card-input {
    @apply mb-2 text-black lg:text-2xl xs:text-lg;
}

.admin-delete-button {
    @apply text-red-600 hover:text-red-500 transition-all ease-in hover:animate-pulse;
}

.category-admin-title {
    @apply text-2xl font-bold;
    color: #3f2f20;
}

.admin-dish-button {
    @apply hover:bg-green-500 transition-all ease-in m-2;
    padding: 0.4rem;
    border-radius: 7px;
    background-color: #83c09a;
}

.admin-modify-button {
    @apply w-32 rounded-md hover:bg-green-500 text-white transition-all ease-in font-bold p-1 my-1;
}