/*TAILWIND CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.stylisedPolice {
    font-family: 'Roboto Slab', serif;
}

.text-md {
    font-size: 1.0rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}

.bg-brown {
    background-color: #392C1E;
}

.bg-light-brown {
    background-color: #906427;
}

.bg-light-brown-active {
    background-color: #d4a460;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.hr-modifier {
    color: #906427;
    height: 3px;
    border: none;
}

.admin-background {
    background-color: #ad9696;
}

.nav-button {
    @apply w-32 py-2 rounded-md hover:bg-yellow-900 !important;
}

.thumbnail {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 5%;
}
  
.thumbnail img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-container {
    @apply flex mb-5 flex-col items-center;
    margin-bottom: 20px;
}