/*TAILWIND CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.stylisedPolice {
    font-family: 'Roboto Slab', serif;
}

nav {
    position: sticky;
    top: 0px;
}

.bg-brown {
    background-color: #392C1E;
}

.bg-light-brown {
    background-color: #906427;
}

.bg-light-brown-active {
    background-color: #d4a460;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.75);
}

.hr-modifier {
    color: #906427;
    height: 3px;
    border: none;
}

.nav-button {
    @apply w-32 py-2 rounded-md hover:bg-yellow-900 !important;
}

.submit-button {
    @apply w-32 py-1 rounded-md hover:bg-yellow-900 text-white;
    background-color: #906427;
}

.send-booking-button {
    @apply w-36 py-1 px-2 rounded-md hover:bg-green-500 text-white lg:text-3xl xs:text-xl;
    background-color: #83c09a;
}

.background {
    background-image: url("/public/img/bg.webp");
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

input[type="date"] {
    background-color: #ffffff;
    padding: 2px;
    color: #000000;
    font-size: 18px;
    border: none;
    outline: none;
    padding-right: 3.7rem;
}

input[type="text"] {
    font-size: 15.8px;
    border: none;
    outline: none;
}

.selector-booking {
    background-color: #ffffff;
    padding: 3px;
    color: #000000;
    font-size: 18px;
    border: none;
    outline: none;
}

::-webkit-datetime-edit-fields-wrapper { 
    @apply text-center;
}

::-webkit-datetime-edit-text { 
    @apply text-center;
}

.booking-title {
    font-size: larger;
    margin-left: 10px;
    padding: 10px;
}

.flex-container { 
    display: flex;
    flex-wrap: wrap;
}

.reservation-button {
    @apply lg:text-center xs:text-center rounded-md lg:text-lg xs:text-sm lg:p-3 xs:p-2 lg:px-2 border-white hover:bg-yellow-900;
    background: #493a27;
}

.bg-connection {
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-maintenance {
    background-color: rgba(0, 0, 0, 0.5); 
}

.text-md {
    font-size: 1.0rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}

.carousel-button {
    @apply hover:bg-slate-300 hover:opacity-30 hover:animate-pulse;
}

.carousel-image {
    max-width: 960px;
    max-height: 500px;
    object-fit: contain;
}

.admin-background {
    background-color: #CFB3B3;
}

.category-title {
    @apply text-2xl font-bold;
    color: #906427;
}

.dish-title {
    @apply text-lg;
    display: inline-block;
    vertical-align: top;
  }
  
.dish-price {
    @apply text-lg ml-5 text-red-400;
    vertical-align: top;
    margin-left: 10px;
    display: inline-block;
}

.dish-description {
    @apply text-xs mb-3;
}

.dish-title-menu  {
    @apply text-lg font-bold ;
    color: #b48849;
}

img.last-image {
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-galery {
    min-height: calc(100vh - 76px);
 }

 figcaption {
    @apply text-center mb-5 mx-auto;
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.33);

}

.img-galery {
    position: relative;
}
  
  
  
  
  