/*TAILWIND CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: url("../resources/img/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

