/*TAILWIND CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.stylisedPolice {
    font-family: 'Roboto Slab', serif;
}

.bg-brown {
    background-color: #392C1E;
}

.bg-light-brown {
    background-color: #906427;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.75);
}

.nav-button {
    @apply w-32 py-2 rounded-md hover:bg-yellow-900;
}

.submit-button {
    @apply w-32 py-1 rounded-md hover:bg-yellow-900 text-white;
    background-color: #906427;
}

.send-booking-button {
    @apply w-36 py-1 px-2 rounded-md hover:bg-green-500 text-white lg:text-3xl xs:text-xl transition-all ease-in;
    background-color: #83c09a;
}

.background {
    background-image: url("/public/img/bg.webp");
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*MODIFY INPUTS*/
input[type="date"] {
    @apply text-center lg:text-2xl xs:text-xl border-white text-black w-64 h-9;
    background-color: #ffffff;
    padding: 1.7px;
    font-size: 17px;
    border: none;
    outline: none;
    padding-right: 2rem;
}

.text-input {
    @apply text-center lg:text-2xl xs:text-xl border-white text-black w-64 h-9;
    border: none;
    outline: none;
}

.register-guest-field {
    font-size: 15.8px;
    padding-right: 2rem;
}

.register-allergies-field {
    font-size: 15.8px;
    padding-right: 4.1rem;
}

/*MODIFY NUMBER INPUT*/
.selector-booking {
    @apply w-64 h-9;
    background-color: #ffffff;
    padding: 3px;
    color: #000000;
    font-size: 18px;
    border: none;
    outline: none;
}

/*MODIFY DATE INPUT*/
::-webkit-datetime-edit-fields-wrapper { 
    @apply text-center;
}

::-webkit-datetime-edit-text { 
    @apply text-center;
}

.flex-container { 
    display: flex;
    flex-wrap: wrap;
}

.reservation-button {
    @apply text-center lg:text-xl xs:text-lg border-white w-64 text-black h-9;
}

.bg-connection {
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-maintenance {
    background-color: rgba(0, 0, 0, 0.5); 
}

/*NEW TEXT SIZE*/
.text-md {
    font-size: 1.0rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}

.category-title {
    @apply text-2xl font-bold;
    color: #906427;
}

.dish-title {
    @apply text-lg;
    display: inline-block;
    vertical-align: top;
  }
  
.dish-price {
    @apply text-lg ml-5 text-red-400;
    vertical-align: top;
    margin-left: 10px;
    display: inline-block;
}

.dish-description {
    @apply text-xs mb-3;
}

.dish-title-menu  {
    @apply text-lg font-bold ;
    color: #b48849;
}
  
.hidden {
    display: none;
}
  
.hidden {
  display: none;
}

.message-success {
    @apply text-green-300 font-bold;
}

.message-error {
    @apply text-red-400 font-bold;
}