<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
		<!--Patch error 404 favicon not found-->
		<link rel="shortcut icon" href="#">
		<script src="https://kit.fontawesome.com/abab09da6b.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<!--"npm run watch"-->
	<body class="background min-h-screen">
		{% include 'base.html.twig' %}
		<main class="stylisedPolice bg-dark py-16 lg:mx-16 xs:mx-0 mb-14">
			<header class="grid lg:grid-cols-3 lg:grid-rows-1 xs:grid-cols-1 xs:grid-rows-1 ">
				<section class="lg:text-center xs:text-center">
					<i class="fa-solid fa-tags text-white bg-light-brown p-2 rounded-sm"></i>
					<input type="text" placeholder="Votre nom de famille" class="rounded-sm mb-1 py-1" required>
				</section>
				<section class="xs:mb-1 lg:text-center xs:text-center">
					<i class="fa-solid fa-utensils text-white bg-light-brown p-2 rounded-sm"></i>
					<select name="cover" id="cover-select" class="rounded-sm pl-0 xs:pr-3 selector-booking" required>
						<option value="" disabled selected>Nombre de couvert</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
					</select>
				</section>
				<section class="lg:text-center xs:text-center mb-4">
					<i class="fa-solid fa-calendar-days text-white bg-light-brown p-2 rounded-sm"></i>
					<input type="date" name="booking-time" value="2023-01-01" min="2023-01-01" max="2023-12-31" class="rounded-sm mb-1" required>
				</section>
			</header>
			<section class="px-5 text-white">
				<section class="mb-1">
					<h1 class="lg:text-2xl xs:text-lg">Réserver le midi</h1>
					<nav class="flex-container flex-wrap gap-1 flex-shrink">
						<a class="reservation-button w-1/6">12h00</a>
						<a class="reservation-button w-1/6">12h15</a>
						<a class="reservation-button w-1/6">12h30</a>
						<a class="reservation-button w-1/6">12h45</a>
						<a class="reservation-button w-1/6">13h00</a>
						<a class="reservation-button w-1/6">13h15</a>
						<a class="reservation-button w-1/6">13h30</a>
					</nav>
				</section>
				<section>
					<h1 class="lg:text-2xl xs:text-lg">Réserver le soir</h1>
					<nav class="flex-container flex-wrap gap-1">
						<a class="reservation-button w-1/6">19h00</a>
						<a class="reservation-button w-1/6">19h15</a>
						<a class="reservation-button w-1/6">19h30</a>
						<a class="reservation-button w-1/6">19h45</a>
						<a class="reservation-button w-1/6">20h00</a>
						<a class="reservation-button w-1/6">20h15</a>
						<a class="reservation-button w-1/6">20h30</a>
					</nav>
				</section>
			</section>
			<section class="m-3">
				<select name="cover" id="cover-select" class="rounded-sm pl-0 xs:pr-3 xs:text-lg" required>
					<option value="" disabled selected>Allergies</option>
					<option value="eggs">Oeufs</option>
					<option value="nuts">Fruits à coque</option>
					<option value="milk">Lait</option>
					<option value="mustard">Moutarde</option>
					<option value="wheat">Blé et Triticales</option>
					<option value="other">Autre</option>
				</select>
				<section class="text-white text-center my-6 xs:px-5">
					<button type="submit" class="send-booking-button">
						Réserver
					</button>
				</section>
				<p class="mt-2 text-white text-xs flex align-middle justify-center text-center">
					<i class="text-red-600">*</i>
					En cas de retard de plus de 20 minutes,
					nous nous réservons de considérer la présente réservation comme annulée.<br>
					<br>
				</p>
			<section>
		</main>
		<br>
		<footer class="footer stylisedPolice mt-14">
			<section class="bg-brown text-white grid lg:grid-cols-3 gap-3 xs:grid-cols-1">
				<div class="text-center">
					<h1 class="lg:text-xl xs:text-lg">Horaire d'ouverture</h1>
					<p></p>
				</div>

				<div class="text-center">
					<h1 class="lg:text-xl xs:text-lg">Adresse</h1>
					<p class="lg:text-md xs:text-xs">309 Chemin de la Plaine, 74400 Chamonix</p>
				</div>

				<div class="text-center">
					<h1 class="lg:text-xl xs:text-lg text-">Contact</h1>
					<p class="lg:text-md xs:text-xs">
						<i class="fa-solid fa-phone"></i>
						+33 06 58 23 65 98
					</p>
					<p class="lg:text-md xs:text-xs">
						<i class="fa-solid fa-fax"></i>
						+33 09 56 45 25 97
					</p>
					<p class="lg:text-md xs:text-xs">
						<i class="fa-sharp fa-solid fa-envelope"></i>
						quai.antique@gmail.com
					</p>
				</div>

			</section>
		</footer>
	</body>
</html>
