<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
		<!--Patch error 404 favicon not found-->
		<link rel="shortcut icon" href="#">
		<script src="https://kit.fontawesome.com/abab09da6b.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<!--"npm run watch"-->
	<body class="background min-h-screen">
        {% include 'base.html.twig' %}

		<main class="stylisedPolice m-auto">
			<section class="bg-white mt-10 grid lg:grid-cols-3 lg:grid-row-2 xs:grid-cols-1 row-span-3 gap-3 group text-center">
				<section>
					<h1 class="category-title">Entrées</h1>
					<section>
						<div>
							<div class="dish-title">Nom de plat un peu long<p class="dish-price">0.00€</p></div>
							<p class="dish-description">Ceci est une description</p>
						</div>
					</section>
				</section>
				<section>
					<h1 class="category-title">Desserts</h1>
					<section>
						<div>
							<div class="dish-title">Nom de plat un peu long<p class="dish-price">0.00€</p></div>
							<p class="dish-description">Ceci est une description</p>
						</div>
					</section>
				</section>
				<section>
					<h1 class="category-title">Boissons</h1>
					<section>
						<div>
							<div class="dish-title">Nom de plat un peu long<p class="dish-price">0.00€</p></div>
							<p class="dish-description">Ceci est une description</p>
						</div>
					</section>
				</section>
				<section>
					<h1 class="category-title">Plats</h1>
					<section>
						<div>
							<div class="dish-title">Nom de plat un peu long<p class="dish-price">0.00€</p></div>
							<p class="dish-description">Ceci est une description</p>
						</div>
					</section>
				</section>
				<section>
					<h1 class="category-title">Apéritifs</h1>
					<section>
						<div>
							<div class="dish-title">Nom de plat un peu long<p class="dish-price">0.00€</p></div>
							<p class="dish-description">Ceci est une description</p>
						</div>
					</section>
				</section>
				<section>
					<h1 class="category-title">Notre cave</h1>
					<section>
						<div>
							<div class="dish-title">Nom de plat un peu long<p class="dish-price">0.00€</p></div>
							<p class="dish-description">Ceci est une description</p>
						</div>
					</section>
				</section>
			</section>
			<section class="bg-white mt-10 grid lg:grid-cols-3 lg:grid-row-1 xs:grid-cols-1 row-span-3 gap-3 group text-center lg:pb-5 xs:pb-52">
				<section>
					<h1 class="category-title">Menu Saveurs Antique</h1>
					<p class="text-lg">26.90€</p>
					<section>
						<div>
							<div class="dish-title-menu">Entrée au choix</div>
							<p class="dish-description">Voir carte</p>
						</div>
					</section>
					<section>
						<div>
							<div class="dish-title-menu">Plat au choix</div>
							<p class="dish-description">Voir carte</p>
						</div>
					</section>
					<section>
						<div>
							<div class="dish-title-menu">Dessert au choix</div>
							<p class="dish-description">Voir carte</p>
						</div>
					</section>
				</section>
				<section>
					<h1 class="category-title">Menu Enfant</h1>
					<p class="text-lg">12.90€</p>
					<section>
						<div>
							<div class="dish-title-menu">Une boisson au choix</div>
							<p class="dish-description">Voir carte</p>
						</div>
					</section>
					<section>
						<div>
							<div class="dish-title-menu mb-3">P'tite viande ou Raviolis gratinés</div>
						</div>
					</section>
					<section>
						<div>
							<div class="dish-title-menu">Dessert au choix</div>
							<p class="dish-description">Voir carte</p>
						</div>
					</section>
				</section>
				<section>
					<h1 class="category-title">Menu Midi</h1>
					<p class="text-lg">22.90€</p>
					<section>
						<div>
							<div class="dish-title-menu">Entrée au choix</div>
							<p class="dish-description">Voir carte</p>
						</div>
					</section>
					<section>
						<div>
							<div class="dish-title-menu">Plat au choix</div>
							<p class="dish-description">Voir carte</p>
						</div>
					</section>
					<section>
						<div>
							<div class="dish-title-menu">Dessert au choix</div>
							<p class="dish-description">Voir carte</p>
						</div>
					</section>
				</section>
			</section>
		</main>
		<footer class="stylisedPolice ">
			<section class="footer bg-brown text-white grid lg:grid-cols-3 gap-3 xs:grid-cols-1">
				<div class="text-center">
					<h1 class="lg:text-xl xs:text-lg">Horaire d'ouverture</h1>
					<p></p>
				</div>

				<div class="text-center">
					<h1 class="lg:text-xl xs:text-lg">Adresse</h1>
					<p class="lg:text-md xs:text-xs">309 Chemin de la Plaine, 74400 Chamonix</p>
				</div>

				<div class="text-center">
					<h1 class="lg:text-xl xs:text-lg text-">Contact</h1>
					<p class="lg:text-md xs:text-xs">
						<i class="fa-solid fa-phone"></i>
						+33 06 58 23 65 98
					</p>
					<p class="lg:text-md xs:text-xs">
						<i class="fa-solid fa-fax"></i>
						+33 09 56 45 25 97
					</p>
					<p class="lg:text-md xs:text-xs">
						<i class="fa-sharp fa-solid fa-envelope"></i>
						quai.antique@gmail.com
					</p>
				</div>

			</section>
		</footer>
	</body>
</html>
