<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
		<!--Patch error 404 favicon not found-->
		<link rel="shortcut icon" href="#">
		<script src="https://kit.fontawesome.com/abab09da6b.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<!--"npm run watch"-->
	<body class="background min-h-screen">
		{% include 'base.html.twig' %}
		<main class="stylisedPolice m-auto text-white flex justify-center align-middle bg-maintenance lg:mt-24 xs:mt-0">
			<section class="text-center w-auto h-auto lg:p-28 xs:p-14">
                <p class="text-6xl pb-5 text-gray-400">Oops !</<p>
                <br>
                <p class="text-4xl">
                    Le site est actuellement en maintenance.<br>
                    Veuillez revenir ultérieurement.<br>
                    <br>
                    Merci de votre compréhension.
                </p>
			</section>
		</main>

		<footer class="stylisedPolice ">
			<section class="footer bg-brown text-white grid lg:grid-cols-3 gap-3 xs:grid-cols-1">
				<div class="text-center">
					<h1 class="lg:text-xl xs:text-lg">Horaire d'ouverture</h1>
					<p></p>
				</div>

				<div class="text-center">
					<h1 class="lg:text-xl xs:text-lg">Adresse</h1>
					<p class="lg:text-md xs:text-xs">309 Chemin de la Plaine, 74400 Chamonix</p>
				</div>

				<div class="text-center">
					<h1 class="lg:text-xl xs:text-lg text-">Contact</h1>
					<p class="lg:text-md xs:text-xs">
						<i class="fa-solid fa-phone"></i>
						+33 06 58 23 65 98
					</p>
					<p class="lg:text-md xs:text-xs">
						<i class="fa-solid fa-fax"></i>
						+33 09 56 45 25 97
					</p>
					<p class="lg:text-md xs:text-xs">
						<i class="fa-sharp fa-solid fa-envelope"></i>
						quai.antique@gmail.com
					</p>
				</div>

			</section>
		</footer>
	</body>
</html>
